* {
    margin: 0;
    padding: 0;
  }
html {
  background-color: rgb(17, 17, 27)
}
header{
  background-color: rgb(0, 0, 0);
}
.icon {
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
}
nav {
  background-color: rgb(13, 17, 17);
  display: flex;
}
nav ul {
  background: rgb(13, 17, 17);
  width: 600px;
  height: 60px;
  margin-left: 20px;
}
nav ul li {
  margin-top: 2px;
  width: 150px;
  float: left;
  list-style: none;
  text-align: center;
}
nav ul li a{
  font-size: large;
  display: block;
  line-height: 58px;
  color: white;
  text-decoration: none;
  border-left: 1px;
  border-right: 1px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li:hover, nav ul li a:hover{
  display: block;
  line-height: 58px;
  color: black;
  background-color: rgb(97, 97, 97);
}
.two{
  background: linear-gradient(
    to top, 
    rgba(0,0,0,0.6) 0%,
    rgba(0,0,0,0.6) 100%
    ), url(WiiSportsBackround1.jpg);
  height: 200px;
}
.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
  text-align: center;
  color: white;
}
.undertitle{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  margin-left: 20px;
  text-decoration-line: underline;
}
.prof{
  max-width: 500px;
  margin-top: 10px;
  margin-left: 20px;
  border: 5px solid black;
  border-radius: 10px;
}
.profile{
  display: flex;

}
.intro{
  margin-top: 10px;
  margin-left: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
.abc{
  margin-block: 1rem;
}
.middle{
  margin-top: 20px;
  width: 90%;
  margin-inline: auto;
  border: 2px solid lightskyblue;
  border-radius: 10px;
  background-color: rgba(135, 206, 250, 0.722); 
}
.socials{
  margin-top: 20px;
}
.soc{
  max-width: 100px;
  margin-left: 50px;
}
.indi{
  display: flex;
  border: 2px solid skyblue;
  border-radius: 10px;
  background-color: rgb(144, 223, 255);
}
.link{
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: black;
}
.end{
  margin-top: 20px;
  width: 70%;
  margin-inline:auto;
}
.tabulka{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:30px;
  background-color: rgb(112, 162, 242);
  border: 5px solid rgb(77, 72, 176);
  border-radius: 10px;
}
.jmeno{
  gap: 20px;
}
input{
  margin-left: 10px;
  width: 200px;
}
textarea{
  width: 540px;
  height:100px;
  resize: none;
}
.button{
width: 60px;
}
footer{
  margin-top: 60px;
  border: 1px solid grey;
  background-color: White;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
